<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="border-radius: 30px;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header position-relative text-center">
        <img src="{{ asset('img/iconService.png') }}" class="modal-img" alt="Header Image">
        <h5 class="modal-title mx-auto" id="exampleModalLabel">Choix du service</h5>
      </div>
      <div class="modal-body">
        <select class="form-select w-100 custom-select">
          <option selected>choix service</option>
          <option>service 1</option>
          <option>service 3</option>
          <option>service 2</option>
        </select>
      </div>
    </div>
  </div>
</div>
<style>
.custom-select {
  font-size: 1.2rem; /* Increase the font size */
  padding: 10px; /* Increase padding */
}

.custom-select option {
  font-size: 1.2rem; /* Ensure the options have the same increased font size */
  padding: 10px; /* Add padding to the options */
  width: 100%;
  height:50px /* Ensure the options are full width */
}
</style>