

  <div class="modal" id="servicesModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="border-radius: 30px;" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header position-relative text-center">
        <img src="{{ asset('img/iconService.png') }}" class="modal-img" alt="Header Image">
        <h5 class="modal-title mx-auto" id="exampleModalLabel">Choisir un service</h5>
      </div>
      <div class="modal-body">
        <select class="form-select w-100 custom-select" id="serviceSelect">
          <option selected value=''>choix du service</option>
          {% for dossier in user_dossier %}
             <option  value="{{dossier.dossierID}}" >{{dossier.dossierName}}</option>
          {% endfor %}

        </select>
      </div>
    </div>
  </div>
</div>


<style>
.custom-select {
  font-size: 1.2rem; /* Increase the font size */
  padding: 10px; /* Increase padding */
}

.custom-select option {
  font-size: 1.2rem; /* Ensure the options have the same increased font size */
  padding: 10px; /* Add padding to the options */
  width: 100%;
  height:50px /* Ensure the options are full width */
}
</style>