<div class="modal fade" id="dtCommande" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered row">
    <div class="modal-content col-md-7">
      <div class="modal-header position-relative text-center">
        <h5 class="modal-title mx-auto order-number2 Poppins text-center" id="exampleModalLabel">Commande de Mr Yassir-service soins</h5>
      </div>
      <div class="modal-body">
        <div class="client-data Inter">
          <p class="bold">202325</p>
          <p class="bold">C244378889</p>
          <p class="bold">Sami Yassir</p>
          <p>date d’hospitalisation: 22/06/2024</p>
        </div>
        <div class="product-list">
          <div class="product-item Andada Pro">
            <img src="{{ asset('img/dolip.png') }}" class="product-img" alt="Doliprane">
            <div class="product-details">
              <p>Doliprane 1000 mg cp</p>
              <p class="Poppins">Prix : 3400.22</p>
            </div>
          </div>
          <div class="product-item Andada Pro">
            <img src="{{ asset('img/dolip.png') }}" class="product-img" alt="Doliprane">
            <div class="product-details">
              <p>Doliprane 1000 mg cp</p>
              <p class="Poppins">Prix : 3400.22</p>
            </div>
          </div>
          <div class="product-item Andada Pro">
            <img src="{{ asset('img/dolip.png') }}" class="product-img" alt="Doliprane">
            <div class="product-details">
              <p>Doliprane 1000 mg cp</p>
              <p class="Poppins">Prix : 3400.22</p>
            </div>
          </div>
          <div class="total Inter">
          <span class="total-label order-number2">Total:</span> <span class="total-amount order-number2">4770.00</span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

.Poppins{
    font-family: 'Poppins',sans-serif;
}

.Inter{
    font-family: 'Inter',sans-serif;
}

.order-number2 {
    font-size: 20px;
    margin-top: 10px;
    top:50%;
    font-weight: bold;
}


.total-amount {
    color: red;
}

.donneesClient {
    border: 1px solid black; 
    padding: 30px;          
    display: inline-block;
    border-radius: 5px;     
    font-size: 16px;        
    text-align: center;
}

.client-data {
    border: 1px solid #dee2e6;
    padding:15px; 
    padding-left: 10%;
    margin: 5px 0;
    border-radius: 5px;
    text-align: left;
}
.client-data p {
    margin: 5px 0;        
    font-size: 16px;  
}

.modal-header {
    padding-top: 20px; 
}


.modal-title {
    margin-top: 20px;
}
.total {
    padding: 0px;
    margin-top: 120px;
    padding-right : 20px;
    background: fixed;
    box-sizing: border-box;
    text-align: right;
}

.product-list {
    border: 1px solid #dee2e6;
    margin: 15px 0;
}

.bold{
    font-weight: bold;
}
.product-item {
    display: flex;          
    align-items: center;    
    border: 1px solid #dee2e6;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #ffffff;
}

.product-img {
    width: 50px;
    height: auto;
    margin-right: 15px; 
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-details p {
    margin: 0;       
    font-size: 16px;
}
</style>