<ul class="navbar-nav flex-nowrap d-flex align-items-center justify-content-between w-100" id="navbar">
    <!-- Logo Section -->
    <li class="nav-item">
        <h6 class="h6-categorie mb-0">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('img/logo.png') }}" width="80px"/>
            </a>
        </h6>
    </li>

    <li class="nav-item flex-grow-1"></li>
    <li class="nav-item dropdown no-arrow ms-auto">
        <a class="nav-link" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="text-dark d-none d-lg-inline me-2 text-dark small" style="font-size:1rem">{{ app.session.get('selectedDossierName') }}</span>
            <i class="fas fa-user fa-2x" style="color:#265828;"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userDropdown" style="background-color: #265828; color: white;">
            <li>
                <a class="dropdown-item text-white" id="changeDossier" type="button">
                    <i class="fas fa-sync-alt fa-sm fa-fw text-white"></i>&nbsp;Changer Service
                </a>
                <a class="dropdown-item text-white" href="{{ path('app_logout') }}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw text-white"></i>&nbsp;Se déconnecter
                </a>
            </li>
        </ul>
    </li>
</ul>
