<ul class="navbar-nav flex-nowrap d-flex" id="navbar">
    <li class="nav-item dropdown no-arrow ms-auto">
        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
            <span class="fs-5 fw-bold text-dark d-none d-lg-inline me-2 text-dark small">nom service</span>
<i class="fas fa-user"></i>        </a>
        <ul class="dropdown-menu shadow dropdown-menu-end" style="background-color: rgb(4, 103, 4); color: white;">
            <li>
                <a class="dropdown-item text-white" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw me-2 text-white"></i>&nbsp;Changer mot de passe
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item text-white" href="#">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-white"></i>&nbsp;Logout
                </a>
            </li>
        </ul>
    </li>
</ul>
