{% extends 'base.html.twig' %}

{% block title %}Vente{% endblock %}

{% block body %}

    <style id="savepage-cssvariables">
            body {
                background-image: url({{ asset('images/back2.png') }} ) !important; 
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            .login-back-left {
                background:#ffffff00 !important;
            }
    </style>

    {{ include ('includes/navbar.html.twig') }}   

     <div class="card m-3 mt-4 shadow">
        <div class="card-header font-weight-bold">
            Vente operations
        </div>
        <div class="card-body">
            <div class="home-table">
                <!-- Table -->
                <table id='vente' class='display dataTable table table-bordered'>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>nom</th>
                            <th>date_vente</th>
                            <th>date_creation</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#vente').DataTable({

                // 'processing': true,
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url':"{{ path('vente_operation_data') }}"
                },
                'columns': [
                    { data: 'id' },
                    { data: 'nom' },
                    { data: 'date_vente' },
                    { data: 'date_creation' },
                    { data: 'actions' },
                ]
        });
        
        $('.test').click(function(){
                $("#reception").DataTable().ajax.reload();
        });

    </script>  
{% endblock %}
