


     <div class="card m-3 mt-4 shadow">
        <div class="card-header font-weight-bold">
            Vente operations
        </div>
        <div class="card-body">
            <div class="home-table">
                <!-- Table -->
                <table id='venteDet' class='display dataTable table table-bordered'>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>produit_id</th>
                            <th>prix_unitaire</th>
                            <th>prix_ttc</th>
                            <th>datetime</th>
                            <th>date_creation</th>
                            <th>quantite</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

     <input id="idOP" type="text" value={{idOP}} hidden>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        var idOP = $('#idOP').val();

        $('#venteDet').DataTable({

                // 'processing': true,
                'serverSide': true,
                'serverMethod': 'POST',
                'ajax': {
                    'url':'/vente/det_data?op='+idOP
                },
                'columns': [
                    { data: 'id' },
                    { data: 'produit_id' },
                    { data: 'prix_unitaire' },
                    { data: 'prix_ttc' },
                    { data: 'datetime' },
                    { data: 'date_creation' },
                    { data: 'quantite' },
                ]
        });

    </script>  



{% endblock %}
