@import '@fortawesome/fontawesome-free/css/all.min.css';

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Work Sans');

@import "./vente.css";
@import "./home.css";


#navbar{
    background-color: rgb(255, 255, 255) ;
    border: solid grey .5px;
    height: 3.6rem;
    font-size: 10px;
}
body{
    font-family: 'Poppins';
}