@import '@fortawesome/fontawesome-free/css/all.min.css';

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Work Sans');
@import "./vente.css";
@import "./home.css";


#navbar{
    background-color: rgb(255, 255, 255) ;
    border: solid grey .5px;
    height: 3.1rem;
    font-size: 10px;
    padding-right: 1rem;
}
body{
    font-family: 'Poppins';
}
.btn-success{
    background-color: #265828;
}
