@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans';
}
.container-deco {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 2rem;
}
.container {
    border-radius: 20px;
    overflow: hidden;
}
.left {
    background-color: #f2f2f2;
}
.left img {
    max-width: 100%;
}
.left p {
    font-size: 15px;
    color: #666;
    margin-top: 20px;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.right h2 {
    margin-bottom: 20px;
}
.right form {
    display: flex;
    flex-direction: column;
}
.right input[type="text"], .right input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #252525;
    border-radius: 4px;
    font-size: 16px;
}
.right button {
    padding: 10px;
    background-color: #265828;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.right button:hover {
    background-color: #45a049;
}
.right .forgot-password {
    text-align: right;
    margin-top: -15px;
    margin-bottom: 20px;
}
.right .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.right .remember-me input {
    margin-right: 10px;
}

.centered-fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.centered-fieldset legend {
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding: 0;
}

.centered-fieldset img {
    display: block;
    margin: 0 auto;
}

.centered-fieldset p {
    text-align: start;
}

.input-group-text {
    background-color: #F5F5F5;
    border: 1px solid #252525;
    border-right: none;
    height: 2.37rem;
    display: flex;
    align-items: center;
}

.form-control {
    background-color: #F5F5F5;
    border: 1px solid #252525;
    border-left: none;
    height: 2.37rem;
    margin-left: -1px; /* Remove border between input and icon */
}
.btn-success {
    background-color: #265828;
}

.error-message {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    padding: 15px;
    margin-bottom: 20px;
}

.form-control.is-invalid {
    border-color: #dc3545;
}

.error-icon {
    margin-right: 8px;
}
/* Hide the text inside the fieldset on small screens */
@media (max-width: 768px) {
    .left {
        display: none;
    }
    .right {
        width: 100%;
    }
}
