@media only screen and(max-width: 600px) {

    body {
       /* background-image: url({{ asset('images/back2.png') }}) !important;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover; */
       background-color: #fff;
   } 

}
.login-back-left {
   background: #ffffff00 !important;
}
.select2-container .select2-selection--single {
   height: 36px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
   line-height: 37px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
   height: 37px !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
   outline: none !important;
}

.overflow1 {

   /* height: 131px; */
   min-height: 33vw;
   max-height: 33vw;
   overflow: auto;
}
.HS {
   height: 575px;

}
.fcolor {
   color: rgb(122, 220, 180);

}

.categoryBG {

   background-color: #D19C97 !important;

}
.trclass td {

   padding: 0 !important;
}
.active .btn {
   display: none;
}
.padiMar{

   padding-left: 0px !important;
   padding-right: 16px !important;
}
.btn-total {
font-size: 12px!important;
}
/* -------------------------------------------- */
.tableCaisse th{
    font-size: .7rem;
    padding: .4rem;
    text-align: left;
}
.tableCaisse .designation{
    width: 20rem;
}
.tableCaisse .prixVente, .tableCaisse .quantite, .tableCaisse .prixTotale,.tableCaisse .td-btn{
    width: 3rem;
}
.list-produit .designation{
    text-align: left;
}
.list-produit .prixVente, .list-produit .prixTotale{
    text-align: right;
}
.list-produit .quantite, .list-produit .td-btn{
    text-align: center;
}
.tableCaisse td{
font-size: .6rem;
border-collapse: collapse;
padding: .1rem;
border: .5px solid #ddd;

}
.tableCaisse tr:nth-child(even){background-color: #e3e3e34f;}
.listCategorie{
position: fixed ;
flex: 0 0 10.333333%;
 max-width: 10rem; 
min-width: 8rem;
background-color: #ffffff;
border: solid #343a40 1px;
min-height: 100vh;
max-height: 100vh;
margin: 0px;
left : 0;
top : 0px;
z-index: 0;
padding: 0px;
}
.listCategorie ul{
list-style-type: none;
}
.listCategorie ul{
padding-left: 0px;
margin-top: .5rem;
cursor: pointer;
}
.listCategorie li{
padding: 0.7rem 1rem;
font-size: .6rem;
font-weight: bold;
letter-spacing: .05rem;
text-transform: uppercase;
}
.listCategorie .card {
    width: 70%;
    margin: 0 auto 10px auto;
}
.card-img-cat {
    width: 80%;
    height: 40px;
}

.sideCat2{
    transition: filter 0.5s ease;
    height: auto;
}
.sideCat2:hover{
   filter: blur(0.2px); 
   border: solid grey 1px;
   background-color : rgb(184, 184, 184);
   cursor: pointer;
}

.sideCat{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top : 10px;
    transition: filter 0.5s ease;
    height: 90%;
}
.sideCat:hover{
   filter: blur(0.2px); 
   border: solid grey 1px;
   background-color : rgb(184, 184, 184);
}
.card-title {
    font-size: 14px;
}
.cat-title{
    font-size: 12px;
}
.h6-categorie{
    padding: 0.2rem 0.5rem;
    margin-bottom: 0px;
}
.listCategorie li:hover{
background-color: #5f5f5f;
color: #fff;
}
.contenu_index{
margin-left:  8rem;
position: relative;
top: 1.5rem;
}
.listProduit{
padding: 0 .3rem;
height: 36vw;
}
#codebar{
    font-size: .7rem;
    width: 40%;
    border: 1px solid #98999b;
}
.produit{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Work Sans';
    width: 10rem;
}
.row-produit{
margin-left: 0;
margin-right: 0;
text-align: center;
}
.div-img{
position: relative;
z-index: 0;
padding: auto;
width: auto;
border: 1px solid;
border-radius: 0.3rem;
/* height: 8rem; */
height: 9.8rem;
width: auto;
border-color: #cacacb;
}
.img-produit{
position: relative;
width: auto;
/* height: 6rem; */
height: 5rem;
}
.name-produit{
    font-weight: 500;
height: 1rem;
font-size: 0.9rem;
padding: auto;
margin-top: 5px;
}
.price-produit{
font-weight: 600;
background: white;
border-radius: 0.25rem;
font-size: 0.8rem;
height: 1rem;
margin-top: auto;
}
/* .venteIcon{
    margin-left:1rem ;
} */
.scroll{
overflow-y: auto;
}
.navbar{
z-index: 1;
position: fixed;
width: 100%;

}
.Limit_text {

    white-space: normal; 
    max-width: 100%;
}
.qte-produit {
min-height: 1rem;
min-width: 1.5rem;
float: right;
background-color: #ebebeb;
border-radius: 0rem 0.2rem 0rem 1rem;
display: inline-block;
position: relative;
/* z-index: 1; */
font-size: .7rem;
padding: 0 0.4rem;

}
.categorieActive{
    background-color: #5f5f5f;
    color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.errorMessage, .successMessage {
    display: none;
 }
.errorMessage, .successMessage {
    position: absolute;
    z-index: 2;
    left: 70%;
    padding: 0.8rem 0;
    font-size: .8rem;
    width: 29.8%;
}
.alert-message{
    padding: 0 2.5rem;
}
.list-produit .input-qte{
    max-width: 3rem;
}
/* css modal client */
.title-modal-client{
    padding: 0.5rem 1rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: .8rem;
}
.close-modal-client{
    font-size: 12px;
}
.select2-container--default .select2-results>.select2-results__options {
    font-size: .8rem;
}
.modal-body-client input{
    font-size: .8rem;
}

element.style {
    display: block;
}
.loader {
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #343a40;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite ;
    animation: spin 2s linear infinite ;
    display: none;
    margin: 0 1rem;
}
.nonTrouve{
    padding: 3rem 1rem;
    text-align: center;
    width: 100%;
    color: #666768;
    font-weight: bold;
    font-size: .9rem;
}
.text-danger, .text-success {
    display: none;
    font-size: .9rem;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* ***************** */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #265828; 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #81C784; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #265828; 
  }
  .product-card {
    width: 100%;
    height: 90px;
}
.product-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.product-name,.product-price{
    font-size: 15px;
    font-family: 'Work Sans';
}

.quantity-control {
    display: flex;
    margin-left: .5rem;
    align-items: center;
}
.quantity-control button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.remove-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.search-bar2 {
    width: 280px;
}

.search-input {
    height: 42.5px;
    font-size: 14px;
}

.search-input2 {
    height: 25px;
    font-size: 8px;
}

.search-bar2 {
    width: 100px;
    left: 13px;
}

.search-img {
    width: 1.55rem;
    height: 1.55rem;
}

.search-img2 {
    width : 1rem;
    height: 1rem;
}
.scrollable-cart{
    max-height: 200px; /* Adjust height as needed */
    overflow-y: auto; /* Enable vertical scroll */
    padding-right: 15px;
}

.quantity-badge {
   font-size: 15px;

}

