<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/logo.png') }}" type="image/png">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
		<script>
			let idleTime = 0;

			const idleInterval = setInterval(timerIncrement, 60000); 

			document.addEventListener('mousemove', resetTimer, false);
			document.addEventListener('keypress', resetTimer, false);
			document.addEventListener('scroll', resetTimer, false);
			document.addEventListener('touchstart', resetTimer, false);

			function timerIncrement() {
				idleTime++;
				if (idleTime >= 60) { 
					location.reload();
				}
			}

			function resetTimer() {
				idleTime = 0;
			}
		</script>
			{{ encore_entry_script_tags('app') }}		
		{% endblock %}
	</head>
	<body>	
		{{include('./includes/navbar.html.twig') }}
		{% block body %}{% endblock %}
	</body>
</html>
