<div class="modal fade in" id="infoPatient" tabindex="-1" aria-labelledby="exampleModalLabel" style="border-radius: 30px;" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header position-relative text-center">
        <img src="{{ asset('img/iconService.png') }}" class="modal-img" alt="Header Image">
        <h5 class="modal-title mx-auto" id="exampleModalLabel">Info Patient</h5>
      </div>
      <div class="modal-body">
              <div id="formErrors" class="error-message">
                <i class="fas fa-exclamation-circle error-icon"></i>
                <span id="errorText"></span>
            </div>  
            <input type="text" id='ippSearch' class="form-control" placeholder="Rechercher"/>
            <div class='text-start'>
            <span class='fw-bold'>IPP : <span id='ipp'></span> </span> <br>
                <span class='fw-bold'>Nom du patient : <span id='nomPatient'></span></span><br>
                <span>Service d'hospitalisation*</span>
            </div>
            
            <input type="text" class="form-control" id='di' placeholder="DI" readonly/> <br>
             <button class="btn btn-success offset-9" style="background-color:#265828;" id="searchPatient">Rechercher</button>
              <div class="loader offset-9"></div>
            </div>
    </div>
  </div>
</div>